bespin-cli==0.0.11
stis_cti==0.4-beta9
django-kong-admin==0.4.0
imtools==1.0.2
chatterbot==1.0.5
django-datebook==1.2.0
tellurium==2.0.5
forge-event-chain==0.18.17
oslo-privsep==1.27.0
coala==0.12.0.dev20170623170820
django>=2.2.28 # not directly required, pinned by Snyk to avoid a vulnerability
flask-appbuilder>=3.4.5 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
wtforms>=3.0.0a1 # not directly required, pinned by Snyk to avoid a vulnerability
